.container {
    width: 1800px !important;

}

body {
    cursor: default;
    background-color: #f0faff;
}

.popover {
    max-width: 450px;
}

.footer {
    text-align: center;
}

#refresh {
    color: white;
    min-width: 34px;
    text-align: center;
    display: block;
    float: right;
}

.span6 {
    min-height: 146px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 28px !important;
    border-top: 0;
    margin-bottom: 28px;
    background-color: #fff9e6;
}

.nav > li > a, .brand {
    color: #eee !important;
}

element.style {
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a0e9), to(#00a0e9));
    background-image: -webkit-linear-gradient(top, #00a0e9, #00a0e9);
    background-image: -o-linear-gradient(top, #00a0e9, #00a0e9);
    background-image: linear-gradient(to bottom, #00a0e9, #00a0e9);
    background-repeat: repeat-x;
    background-color: #00a0e9 !important;
}

.navbar-inner {
    background-color: #00a0e9 !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a0e9), to(#00a0e9)) !important;
    background-image: -webkit-linear-gradient(top, #00a0e9, #00a0e9) !important;
    background-image: -o-linear-gradient(top, #00a0e9, #00a0e9) !important;
    background-image: linear-gradient(to bottom, #00a0e9, #00a0e9) !important;
    background-repeat: repeat-x;
    border-color: #0080ba !important;
}

.actions a:not(:last-child) {
    margin-right: 5px;
}

.actions {
    display: flex;
}

@media (min-width: 1800px) {
    .container {
    }

    .span4 {
        width: 545px;
    }
}


@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.icon-red {
    background-image: url("../img/glyphicons-halflings-red.png") !important;
}

.icon-purple {
    background-image: url("../img/glyphicons-halflings-purple.png") !important;
}

.icon-blue {
    background-image: url("../img/glyphicons-halflings-blue.png") !important;
}

.icon-lightblue {
    background-image: url("../img/glyphicons-halflings-lightblue.png") !important;
}

.icon-green {
    background-image: url("../img/glyphicons-halflings-green.png") !important;
}

.icon-yellow {
    background-image: url("../img/glyphicons-halflings-yellow.png") !important;
}

.icon-orange {
    background-image: url("../img/glyphicons-halflings-orange.png") !important;
}
